#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>

&mt {
    flavor = "balanced";
    tapping-term-ms = <175>;
};

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <175>;
};


&sensors {
    triggers-per-rotation = <3>;
};

&trackball {
    scroll-layers = <5>;
};

&zip_temp_layer {
    /* キー入力でML解除 */
    /* 以下のキーを押してもMLを解除しない */
    excluded-positions = <
        10
        11
        12
        13
        18
        19
    >;
};

/* トラックボールを動かしたらMLを有効化、AML */
&trackball_listener {
    input-processors = <&zip_temp_layer 4 10000>;
};

/* マウスキーを押したらMLを有効化 */
&mkp_input_listener {
    input-processors = <&zip_temp_layer 4 10000>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        raise_lower_to_adjust {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        esc_for_vimmer: esc_for_vimmer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC &kp LANGUAGE_2>;
            label = "ESC_FOR_VIMMER";
        };
    };

    behaviors {};

    combos {
        compatible = "zmk,combos";
        combo_right_click {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&mkp MB2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* ───────── Layer 0: DEFAULT ───────── */
        default_layer {
            bindings = <
&kp Q              &kp W                  &kp COMMA         &kp DOT             &esc_for_vimmer                                   &kp M                &kp R                  &kp D                &kp Y                  &kp P
&mt LEFT_ALT A     &mt LEFT_COMMAND O     &mt LEFT_SHIFT E  &mt LEFT_CONTROL I  &kp U                &kp LG(N0)        &none      &kp G                &mt LEFT_CONTROL T     &mt LEFT_SHIFT N     &mt LEFT_COMMAND S     &mt LEFT_ALT MINUS
&kp Z              &kp X                  &kp C             &kp V               &kp F                &none             &none      &kp H                &kp J                  &kp K                &kp L                  &kp B
&none              &none                  &none             &lt 5 TAB           &lt 2 LANGUAGE_2     &lt 4 SPACE       &kp ENTER  &lt 1 LANGUAGE_1                                                                        &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp LG(MINUS) LG(PLUS)>;
        };

        /* ───────── Layer 1: RAISE ───────── */
        RAISE {
            bindings = <
&kp GRAVE    &kp SINGLE_QUOTE  &kp LT     &kp GT       &kp COLON                              &kp BACKSLASH  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH  &kp TILDE
&kp AT_SIGN  &kp PIPE          &kp PLUS   &kp EQUAL    &kp DOUBLE_QUOTES  &trans      &trans  &kp CARET      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DLLR   &kp UNDER
&kp HASH     &kp AMPERSAND     &kp ASTRK  &kp PERCENT  &kp SEMICOLON      &trans      &trans  &trans         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp EXCL   &kp QUESTION
&trans       &trans            &trans     &trans       &trans             &trans      &trans  &trans                                                                 &trans
            >;
        };

        /* ───────── Layer 2: LOWER ───────── */
        LOWER {
            bindings = <
&trans        &trans        &trans        &trans        &trans                             &kp HOME      &kp PAGE_DOWN  &kp PG_UP     &kp END    &trans
&kp N1        &kp N2        &kp N3        &kp N4        &kp N5  &trans      &trans         &kp N6        &kp N7         &kp N8        &kp N9     &kp N0
&trans        &trans        &trans        &trans        &trans  &trans      &trans         &kp LEFT      &kp DOWN       &kp UP_ARROW  &kp RIGHT  &trans
&trans        &trans        &trans        &trans        &trans  &trans      &kp BACKSPACE  &trans                                                &trans
            >;
        };

        /* ───────── Layer 3: ADJUST (Fn1–12) ───────── */
        ADJUST {
            bindings = <
&trans   &trans   &trans   &trans   &trans                        &trans   &trans   &trans    &trans    &trans
&kp F1   &kp F2   &kp F3   &kp F4   &kp F5  &trans      &trans    &kp F6   &kp F7   &kp F8    &kp F9    &kp F10
&kp F11  &kp F12  &trans   &trans   &trans  &trans      &trans    &trans   &trans   &trans    &trans    &trans
&trans   &trans   &trans   &trans   &trans  &trans      &trans    &trans                                &trans
            >;
        };

        /* ───────── Layer 4: MOUSE ───────── */
        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        /* ───────── Layer 5: BLUETOOTH ───────── */
        BLUETOOTH {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
